[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
asgiref = "==3.4.1"
dj-database-url = "==0.5.0"
django-filter = "==21.1"
gunicorn = "==20.1.0"
importlib-metadata = "==4.8.1"
pytz = "==2021.3"
sqlparse = "==0.4.2"
typing-extensions = "==3.10.0.2"
zipp = "==3.6.0"
Django = "==3.2.8"
Markdown = "==3.3.4"
environs = {extras = ["django"], version = "==8.0.0"}
psycopg2-binary = "==2.8.5"
django-heroku = "*"
whitenoise = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-templated-mail = "*"
djangorestframework = "<3.12.0"
django-cors-headers = "*"
drf-yasg = "==1.17.1"
jdatetime = "*"
django-jalali-date = "*"
pillow = "*"
